@import "tailwindcss";

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --bg-dark: oklch(80% 0 0);
  --bg: oklch(90% 0 0);
  --bg-light: oklch(95% 0 0);
  --bg-muted: oklch(60% 0 0);

  --text-primary: oklch(5% 0 0);
  --text-muted: oklch(33% 0 0);
  
  --border: oklch(33% 0 0);  
}

.dark {
  --bg-dark: oklch(5% 0 0) ;
  --bg: oklch(10% 0 0);
  --bg-light: oklch(20% 0 0);
  --bg-muted: oklch(40% 0 0);

  --text-primary: oklch(95% 0 0);
  --text-muted: oklch(67% 0 0);
  
  --border: oklch(33% 0 0);  
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@theme {
  --color-bg-dark: var(--bg-dark);
  --color-bg: var(--bg);
  --color-bg-light: var(--bg-light);
  --color-bg-muted: var(--bg-muted);
  --color-text-primary: var(--text-primary);
  --color-text-muted: var(--text-muted);
  --color-border: var(--border);
}