@import "tailwindcss";

:root {
  font-family: 'DF Thin', system-ui;

  --bg: oklch(25% 0 0);
  --bg-light: oklch(33% 0 0);

  --text-primary: oklch(95% 0 0);
  --text-secondary: oklch(80% 0 0);
  --text-muted: oklch(65% 0 0);

  --border: oklch(33% 0 0);
  
  --button-active-bg: oklch(10% 0 0);
  --button-active-text: oklch(90% 0 0);
  --button-inactive-bg: oklch(90% 0 0);
  --button-inactive-text: oklch(10% 0 0);
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text-primary);
}

@theme {
  --color-bg: var(--bg);
  --color-bg-light: var(--bg-light);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);

  --color-border: var(--border);

  --color-button-active-bg: var(--button-active-bg);
  --color-button-active-text: var(--button-active-text);
  --color-button-inactive-bg: var(--button-inactive-bg);
  --color-button-inactive-text: var(--button-inactive-text);
}

@font-face {
  font-family: 'DF Thin';
  src: url('/df-thin-font/DfThin-W8Z4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}